#eec{
width: 100%;
height: 92vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url(./assets/Group\ 3.png);
background-repeat: no-repeat;
background-size: center;
background-position: center;
}
#eec fieldset{
    width: 90%;
    height: 85%;
    text-align: center;
    border: 3px solid #1488F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#eec fieldset legend{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.8rem;
}
#eec fieldset form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
#eec fieldset form div{
    border: none;
    width: 20vw;
    height: 10vh;
    color: #ffffff;
    border-bottom: 3px solid #1488F2;
}
#eec form div input{
    background: none;
    width: 20vw;
    height: 5vh;
    border: none;
    border-bottom: 3px solid #1488F2;
    color: #ffffff;
}
#eec form textarea{
    width: 100%;
    height: 20vh;
    border: none;
    border: 3px solid #1488F2;
    background: none;
    color: #ffffff;
    resize: none;
}
#eec form div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 4.5rem;
}
#eec fieldset form button{
    border: none;
    width: 20vw;
    height: 7.5vh;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #1488F2;
    transition: 300ms;
    border-radius: 15px;
    margin-top: 4.5rem;
}
#eec fieldset form button:hover{
    transition: 300ms;
    background-color: #064988;
    cursor: pointer;
}
#bn h1{
    color: #ffffff;
}
#bn{
    height: 8vh;
    width: 100%;
    background-color: #1488F2;
    display: flex;
    position: sticky;
    top: 0;
    padding: 0rem 1rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#ln a{
    color: #ffffff;
    text-decoration: none;
}
#ln{
    display: flex;
    list-style: none;
    margin-right: 1.5rem;
}
.ln-margin{
    margin-left: 1.5rem;
}
